* {
   padding: 0;
   margin: 0;
   background-color: #071020;
   color: #fafafa;
}

.container {
   width: 1040px;
   height: 500px;
   margin: 30px auto;
}

h1 {
   text-align: center;
   font: 400 40px "Arial";
   letter-spacing: 5px;
   margin-bottom: 30px;
}

.slideshow {
   width: 100%;
   height: 100%;
   background-image: url(./img/1.jpg);
   background-size: cover;
   -webkit-animation: slider 10s infinite;
           animation: slider 10s infinite;
}

@-webkit-keyframes slider {
   25% {
      background-image: url(./img/2.jpg);
   }
   50% {
      background-image: url(./img/3.jpg);
   }
   75% {
      background-image: url(./img/4.jpg);
   }
   100% {
      background-image: url(./img/1.jpg);
   }
}

@keyframes slider {
   25% {
      background-image: url(./img/2.jpg);
   }
   50% {
      background-image: url(./img/3.jpg);
   }
   75% {
      background-image: url(./img/4.jpg);
   }
   100% {
      background-image: url(./img/1.jpg);
   }
}
